[Unit]
Description=GO GOST REST API Service

[Service]
WorkingDirectory=/opt/go-gost
ExecStart=/opt/go-gost/go-gost &

[Install]
WantedBy=multi-user.target
